/**
 * Angaben für ein Menü für die Formularabschnitte in den Benutzereinstellungen
 * 
 * @author: Heiko August <post@auge8472.de>
 * @version: 0.1
 */


.tabswitcher li {
	margin-right: 0.3em;
}
#users-edit fieldset:not(.active) {
	display: none;
}
#users-edit fieldset:target {
	display: block;
}
