/**
 * Angaben zum Ausdruck von Postings
 * 
 * @author: Heiko August <post@auge8472.de>
 * @author: Matthias Apsel
 * @version: 0.2
/*

/* grundlegende Angaben zum Ausdruck eines Einzelpostings */

@media print {
	body {
		font-size: 1rem;
	}
	main ~ .flex-item,
	footer,
	#fixlink,
	h1,
	#content > h2,
	#message-nested .thread-message:not(.print),
	.thread-message > .voting,
	.message-links,
	.forum-links,
	.root,
	.author-email,
	.author-homepage,
	.versions,
        .message-links + h3,
	.message-references,
	.thread-message .accepted,
	#unfold-all {
		display: none;
	}
	.flex-container, 
        article.thread-nested,
        article.thread-message {
                display: block;
        }
	main {
		padding: 0;
	}
	.thread-message {
		background: transparent;
		border: none;
		max-width: none;
		width: auto;
	}
	.thread-message .posting-content {
		background: transparent;
		color: black;
		border: none;
	}
	header .details .cf-tags-list {
		display: block;
	}
	.cf-tags-list::before {
		content: 'Tags: ';
	}
	.cf-tag {
		border: none;
		background: transparent;
		margin-left: 0;
		padding: 0.1em 0.1em 0;
	}
	.cf-tag:not(:last-child)::after {
		content: ', ';
	}
	.problematic-site {
		border: none;
		border-bottom: 1pt dotted #222;
		margin: 0.25em 0 0 0;
		padding: 0 0 0.25em 0;
	}
	.problematic-site a::before {
		content: '';
	}
	.problematic-site a::after {
		content: ': ' attr(href);
	}
	.answers {
		padding: 0;
	}
}

@media not print {
	.print-preview header.top,
	.print-preview .personallinks,
	.print-preview header.page-header,
	.print-preview main h1,
	.print-preview #content > h2,
	.print-preview footer,
	.print-preview div.root,
	.print-preview .forum-links li:not(:last-child),
	.print-preview .message-links,
        .print-preview .message-links + h3,
        .print-preview .accepted,
	.print-preview .message-references,
        .print-preview .thread-message:not(.print) {
		opacity: 0.25;
	}
}
