/**
 * Angaben zum Ausdruck von Postings
 * 
 * @author: Heiko August <post@auge8472.de>
 * @author: Matthias Apsel
 * @version: 0.2
/*

/* grundlegende Angaben zum Ausdruck eines Einzelpostings */

@media print {
	body {
		font-size: 1rem;
	}
	main ~ .flex-item,
	footer,
	#fixlink,
	h1,
	#content > h2,
	#message-nested .thread-message:not(.print),
	.thread-message > .voting,
	.message-links,
	.forum-links,
	.root,
	.author-email,
	.versions,
	#unfold-all {
		display: none;
	}
	main {
		padding: 0;
	}
	.thread-message {
		background: transparent;
		border: none;
		max-width: none;
		width: auto;
	}
	.thread-message .posting-content {
		background: transparent;
		color: black;
		border: none;
	}
	.answers {
		padding: 0;
	}
}